@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Style pour la jumbotron */
    .custom-jumbotron {
        background-color: white; /* Arrière-plan blanc */
        text-align: center; /* Texte centré */
        padding: 100px 0; /* Espacement pour centrer verticalement */
    }

    /* Style pour le bouton */
    .custom-btn {
        background-color: #3498db; /* Couleur de fond du bouton */
        color: white; /* Couleur du texte en blanc */
        border: none; /* Pas de bordure */
        padding: 15px 30px; /* Espacement intérieur */
        border-radius: 5px; /* Coins arrondis */
        font-size: 1.5em; /* Taille de police */
        text-decoration: none; /* Pas de soulignement */
    }
</style>

<div class="jumbotron jumbotron-fluid custom-jumbotron">
    <div class="container">
        <h1 class="display-4">Welcome to My Gallery</h1>

        <a asp-action="Index" asp-controller="Product" class="btn btn-lg custom-btn">Start Now</a>
    </div>
</div>
